<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

  <!-- Product version. Refer to it with "$(var.ProductVersion)" -->
  <?define ProductVersion = "1.5.5.0"?>
  <!-- Upgrade code. Refer to it with "$(var.UpgradeCode)" -->
  <!-- NEVER CHANGE THE UPGRADECODE -->
  <?define UpgradeCode = "{8E133A46-F96C-48BC-9051-D77FDDECD32A}"?>
  
  <!-- General product name. Refer to it with "$(var.WindowsServerAdvancedPowerManagement)" -->
  <?define WindowsServerAdvancedPowerManagement = "Windows Server Advanced Power Management"?>
  <!-- General manufacturer name. Refer to it with "$(var.Manufacturer)" -->
  <?define Manufacturer = "decatec.de"?>
  <!-- Homepage URL. Refer to it with "$(var.HomePageURL)" -->
  <?define HomePageURL = "https://www.decatec.de"?>
  <?define lang_de = "UserLanguageID = 1031 OR UserLanguageID = 2055 OR UserLanguageID = 3079 OR UserLanguageID = 4103 OR UserLanguageID = 5127"?>

  <Product Id="*" Name="$(var.WindowsServerAdvancedPowerManagement)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="Wsapm.cab" EmbedCab="yes" CompressionLevel="high" />
    <Property Id="ARPHELPLINK" Value="$(var.HomePageURL)" />
    <Property Id="ARPCONTACT" Value="$(var.HomePageURL)" />
    <Property Id="ARPPRODUCTICON" Value="Wsapm.exe" />
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <!-- Update behavior -->
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
    
    <!-- EULA -->
    <?if $(var.lang_de) ?>
    <WixVariable Id="WixUILicenseRtf" Value="Resources\de\EULA_de.rtf" />
    <?elseif ?>
    <WixVariable Id="WixUILicenseRtf" Value="Resources\en\EULA_en.rtf" />
    <?endif ?>
    
    <!-- Requirements (.NET Framework, OS version, etc.) -->
    <PropertyRef Id="NETFRAMEWORK40CLIENT"/>
    <Condition Message="!(loc.NetFramework40ClientMissing)">
      <![CDATA[Installed OR NETFRAMEWORK40CLIENT]]>
    </Condition>

    <Condition Message="!(loc.WrongOSVersion)">
      <![CDATA[Installed OR (VersionNT >= 501)]]>
    </Condition>

    <!-- Define UI -->
    <UIRef Id="WixUI_InstallDir"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

    <!-- Define icons -->
    <Icon Id="Wsapm.exe" SourceFile="$(var.Wsapm.TargetPath)" />

    <!-- Custom action for removing application data folder. This should only happen on uninstall, not on update! -->
    <CustomAction Id="RemoveApplicationDataFolder" Impersonate="no" BinaryKey="Wsapm.Setup.CustomAction.CA.dll" DllEntry="RemoveApplicationDataFolder" Execute="deferred" Return="check" />
    <CustomAction Id="RemovePluginFolder" BinaryKey="Wsapm.Setup.CustomAction.CA.dll" DllEntry="RemovePluginFolder" Execute="immediate" Return="check" />
    <Binary Id="Wsapm.Setup.CustomAction.CA.dll" SourceFile="$(var.Wsapm.Setup.CustomAction.TargetDir)Wsapm.Setup.CustomAction.CA.dll" />

    <InstallExecuteSequence>
      <Custom Action="RemoveApplicationDataFolder" Before="InstallFinalize">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
      <Custom Action="RemovePluginFolder" Before="InstallFinalize">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
    </InstallExecuteSequence>

    <Feature Id="ProductFeature" Title="$(var.WindowsServerAdvancedPowerManagement)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Program files folder -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.WindowsServerAdvancedPowerManagement)">
          <Directory Id="LanguageDeFolder" Name="de" />
          <Directory Id="DocFolder" Name="doc" />
          <Directory Id="PluginFolder" Name="Plugins" />
        </Directory>
      </Directory>

      <!-- Settings folder -->
      <Directory Id="CommonAppDataFolder">
        <Directory Id="WaspmSettingsFolder" Name="$(var.WindowsServerAdvancedPowerManagement)">
        </Directory>
      </Directory>

      <!-- Desktop -->
      <Directory Id="DesktopFolder" Name="Desktop" />

      <!-- Start menu entries -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ShortcutsFolder" Name="$(var.WindowsServerAdvancedPowerManagement)">
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>    
    <ComponentGroup Id="ProductComponents">
      <!-- Main output -->
      <Component Id="Wsapm"  Directory="INSTALLFOLDER" Guid="{51598434-7884-4171-A5DE-F9A207FC5748}">
        <File Id="Wsapm.exe" Source="$(var.Wsapm.TargetPath)" KeyPath="yes" >
          <Shortcut Id="ShortcutDesktopWsapm" Directory="DesktopFolder" Name="$(var.WindowsServerAdvancedPowerManagement)" WorkingDirectory="INSTALLDIR" Icon="Wsapm.exe" IconIndex="0" Advertise="yes">
          </Shortcut>
          <Shortcut Id="ShortcutProgramMenuWsapm" Directory="ShortcutsFolder" Name="$(var.WindowsServerAdvancedPowerManagement)" WorkingDirectory="INSTALLDIR" Icon="Wsapm.exe" IconIndex="0" Advertise="yes">
          </Shortcut>
        </File>
      </Component>
      <Component Id="Wsapm.Core"  Directory="INSTALLFOLDER" Guid="{4517484E-2F83-4046-BA0E-86E1E20CD154}">
        <File Id="Wsapm.Core.dll" Source="$(var.Wsapm.Core.TargetPath)" KeyPath="yes" />
      </Component>
      <Component Id="Wsapm.Service"  Directory="INSTALLFOLDER" Guid="{BDD2BCD4-CE11-424D-818C-D0821D74E9D2}">
        <File Id="Wsapm.Service.exe" Source="$(var.Wsapm.Service.TargetPath)" KeyPath="yes">
          <!-- Firewall exception: exception for whole application, not only a single port -->
          <fire:FirewallException Id="Wsapm.Service_firewall_private_udp"
                               Name="Windows Server Advanced Power Management Service"
                               Protocol="udp"
                               Scope="any"
                               IgnoreFailure="yes"
                               Profile="private" 
                               Description="!(loc.FirewallRuleDescription)" />
        </File>
        <ServiceInstall
              Id="ServiceInstaller"
              Type="ownProcess"
              Vital="yes"
              Name="$(var.WindowsServerAdvancedPowerManagement)"
              DisplayName="$(var.WindowsServerAdvancedPowerManagement)"
              Description="!(loc.WsapmServiceDescription)"
              Start="auto"
              Account="LocalSystem"
              ErrorControl="ignore"
              Interactive="no" />
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="$(var.WindowsServerAdvancedPowerManagement)" Wait="yes" />
      </Component>
      <Component Id="Wsapm.Extensions"  Directory="INSTALLFOLDER" Guid="{16096424-C360-4C5D-AFDF-D825EA93A0CF}">
        <File Id="Wsapm.Extensions.dll" Source="$(var.Wsapm.Extensions.TargetPath)" KeyPath="yes" />
      </Component>
      <Component Id="Wsapm.PluginInstaller"  Directory="INSTALLFOLDER" Guid="{241FF5F7-5392-4C16-AF8E-8B3B353AD2F4}">
        <File Id="Wsapm.PluginInstaller.exe" Source="$(var.Wsapm.PluginInstaller.TargetPath)" KeyPath="yes" />
      </Component>
      <Component Id="Wsapm.Wpf.Controls"  Directory="INSTALLFOLDER" Guid="{4451BDAB-E491-48F5-90F0-BE31E80948EF}">
        <File Id="Wsapm.Wpf.Controls.dll" Source="$(var.Wsapm.TargetDir)\Wsapm.Wpf.Controls.dll" KeyPath="yes" />
      </Component>
      <!-- Documentation -->
      <Component Id="DocDe"  Directory="DocFolder" Guid="{77A06299-04AC-4A57-9C57-8F743C22967D}">
        <File Id="WaspmDocDe" Source="$(var.Wsapm.TargetDir)\doc\$(var.WindowsServerAdvancedPowerManagement) Benutzerhandbuch.pdf" KeyPath="yes">
          <Shortcut Id="ShortcutWsapmDocDe" Directory="ShortcutsFolder" Name="Benutzerhandbuch" WorkingDirectory="DocFolder" Advertise="yes">
          </Shortcut>
        </File>
      </Component>
      <Component Id="DocEn"  Directory="DocFolder" Guid="{2360EE74-E4DA-4E59-A14A-3B46DB9539F5}">
        <File Id="WaspmDocEn" Source="$(var.Wsapm.TargetDir)\doc\$(var.WindowsServerAdvancedPowerManagement) user manual.pdf" KeyPath="yes">
          <Shortcut Id="ShortcutWsapmDocEn" Directory="ShortcutsFolder" Name="User manual" WorkingDirectory="DocFolder" Advertise="yes">
          </Shortcut>
        </File>
      </Component>
      <!-- Required DLLs -->      
      <Component Id="Xceed.Wpf.Toolkit"  Directory="INSTALLFOLDER" Guid="{4873D5B1-E4F5-40BE-90C7-C7C6AD5DA53F}">
        <File Id="Xceed.Wpf.Toolkit.dll" Source="$(var.Wsapm.TargetDir)\Xceed.Wpf.Toolkit.dll" KeyPath="yes" />
      </Component>
      <Component Id="DotNetZip"  Directory="INSTALLFOLDER" Guid="{7D7EF25A-6E14-466C-93A3-4B5E0CA36695}">
        <File Id="DotNetZip.dll" Source="$(var.Wsapm.TargetDir)\DotNetZip.dll" KeyPath="yes" />
      </Component>
      <!-- Satellite assemblies -->
      <Component Id="Wsapm.resources" Directory="LanguageDeFolder" Guid="{AD11D958-443C-41A2-93A2-83D1D2D3470E}">
        <File Id="Wsapm.resources.dll" Source="$(var.Wsapm.TargetDir)\de\Wsapm.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="Wsapm.Core.resources" Directory="LanguageDeFolder" Guid="{0D5ACB22-3A10-4B74-81E5-B24549CA61F0}">
        <File Id="Wsapm.Core.resources.dll" Source="$(var.Wsapm.TargetDir)\de\Wsapm.Core.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="Wsapm.Extensions.resources" Directory="LanguageDeFolder" Guid="{C23D38A4-2BA9-46F9-A26E-C4D53CCBD813}">
        <File Id="Wsapm.Extensions.resources.dll" Source="$(var.Wsapm.TargetDir)\de\Wsapm.Extensions.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="Wsapm.PluginInstaller.resources" Directory="LanguageDeFolder" Guid="{11EAF1B8-E932-4718-BD83-49895B547143}">
        <File Id="Wsapm.PluginInstaller.resources.dll" Source="$(var.Wsapm.TargetDir)\de\Wsapm.PluginInstaller.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="Wsapm.Wpf.Controls.resources" Directory="LanguageDeFolder" Guid="{26E429A0-2A92-4B5A-A831-F6E35A0387A3}">
        <File Id="Wsapm.Wpf.Controls.resources.dll" Source="$(var.Wsapm.TargetDir)\de\Wsapm.Wpf.Controls.resources.dll" KeyPath="yes" />
      </Component>
      <!-- Misc -->
      <Component Id="SettingsFolder" Directory="WaspmSettingsFolder" Guid="{D2604CCC-1134-427C-8E3E-C7890CBE6BA4}">
        <CreateFolder />
      </Component>
      <Component Id="PluginFolder" Directory="PluginFolder" Guid="{9CE0E726-3513-47E9-9C71-A49D0B1ED577}">
        <CreateFolder />
      </Component>
      <Component Id="ShortcutsFolder" Directory="ShortcutsFolder" Guid="{01D315E8-D989-4482-B721-05467A7A8CA3}">
        <RemoveFolder Id="ShortcutsFolder" On="uninstall" />
        <RegistryValue Root="HKMU" Key="Software\$(var.Manufacturer)\$(var.WindowsServerAdvancedPowerManagement)" Type="string" Value="" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>